<!--Rio de Janeiro-->
<div style="text-align:center;">
    <h1>Rio de Janeiro</h1>
</div>
<div class="container cards flex-wrap">
    <!--Card1-->
    <div class="col-12 col-lg-3 cards">
    <div class="card shadow-card m-3 bg-white rounded" style="width: 20rem;">
        <img src="~/img/floripa.webp" class="card-img-top card" alt="...">
        <div class="card-body">
            <div class="card-text text-center my-2">
                <h5 class="text-center"><b>Florianópolis</b></h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Inclusos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ida e Volta</td>
                        </tr>
                        <tr>
                            <td>Hospedagem</td>
                        </tr>
                        <tr>
                            <td>Café da manhã</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-around m-2">
                <div>
                    <span class="d-block">Planos</span>
                    <span>a partir de</span>
                </div>
                <div class="d-flex contatos">
                    <span>R$</span>
                    <h3>512</h3>
                </div>
            </div>
            <div class="text-center"><a asp-area="" asp-controller="Clientes" asp-action="Create"
                    class="btn btn-success rounded-pill cleanRef">Escolher plano</a></div>
        </div>
    </div>
    </div>

    <div class="col-12 col-lg-3 cards">
    <!--Card2-->
    <div class="card shadow-card m-3 bg-white rounded" style="width: 20rem;">
        <img src="~/img/cristo-redentor.webp" class="card-img-top card" alt="...">
        <div class="card-body">
            <div class="card-text text-center my-2">
                <h5 class="text-center"><b>Rio de Janeiro</b></h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Inclusos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ida e Volta</td>
                        </tr>
                        <tr>
                            <td>Hospedagem</td>
                        </tr>
                        <tr>
                            <td>Café da manhã</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-around m-2">
                <div>
                    <span class="d-block">Planos</span>
                    <span>a partir de</span>
                </div>
                <div class="d-flex contatos">
                    <span>R$</span>
                    <h3>512</h3>
                </div>
            </div>
            <div class="text-center"><a asp-area="" asp-controller="Clientes" asp-action="Index"
                    class="btn btn-success rounded-pill cleanRef">Escolher plano</a></div>
        </div>
    </div>
    </div>

    <div class="col-12 col-lg-3 cards">
    <!--Card3-->
    <div class="card shadow-card m-3 bg-white rounded" style="width: 20rem;">
        <img src="~/img/floripa.webp" class="card-img-top card" alt="...">
        <div class="card-body">
            <div class="card-text text-center my-2">
                <h5 class="text-center"><b>Florianópolis</b></h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Inclusos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ida e Volta</td>
                        </tr>
                        <tr>
                            <td>Hospedagem</td>
                        </tr>
                        <tr>
                            <td>Café da manhã</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-around m-2">
                <div>
                    <span class="d-block">Planos</span>
                    <span>a partir de</span>
                </div>
                <div class="d-flex contatos">
                    <span>R$</span>
                    <h3>512</h3>
                </div>
            </div>
            <div class="text-center"><a asp-area="" asp-controller="Clientes" asp-action="Create"
                    class="btn btn-success rounded-pill cleanRef">Escolher plano</a></div>
        </div>
    </div>
    </div>

        <div class="col-12 col-lg-3 cards">
    <!--Card4-->
   <div class="card shadow-card m-3 bg-white rounded" style="width: 20rem;">
        <img src="~/img/cristo-redentor.webp" class="card-img-top card" alt="...">
        <div class="card-body">
            <div class="card-text text-center my-2">
                <h5 class="text-center"><b>Rio de Janeiro</b></h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Inclusos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ida e Volta</td>
                        </tr>
                        <tr>
                            <td>Hospedagem</td>
                        </tr>
                        <tr>
                            <td>Café da manhã</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-around m-2">
                <div>
                    <span class="d-block">Planos</span>
                    <span>a partir de</span>
                </div>
                <div class="d-flex contatos">
                    <span>R$</span>
                    <h3>512</h3>
                </div>
            </div>
            <div class="text-center"><a asp-area="" asp-controller="Clientes" asp-action="Create"
                    class="btn btn-success rounded-pill cleanRef">Escolher plano</a></div>
        </div>
    </div>
    </div>

    <div class="col-12 col-lg-3 cards">
    <!--Card5-->
    <div class="card shadow-card m-3 bg-white rounded" style="width: 20rem;">
        <img src="~/img/cristo-redentor.webp" class="card-img-top card" alt="...">
        <div class="card-body">
            <div class="card-text text-center my-2">
                <h5 class="text-center"><b>Rio de Janeiro</b></h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Inclusos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ida e Volta</td>
                        </tr>
                        <tr>
                            <td>Hospedagem</td>
                        </tr>
                        <tr>
                            <td>Café da manhã</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-around m-2">
                <div>
                    <span class="d-block">Planos</span>
                    <span>a partir de</span>
                </div>
                <div class="d-flex contatos">
                    <span>R$</span>
                    <h3>512</h3>
                </div>
            </div>
            <div class="text-center"><a asp-area="" asp-controller="Clientes" asp-action="Index"
                    class="btn btn-success rounded-pill cleanRef">Escolher plano</a></div>
        </div>
    </div>
    </div>

    <div class="col-12 col-lg-3 cards">
    <!--Card6-->
    <div class="card shadow-card m-3 bg-white rounded" style="width: 20rem;">
        <img src="~/img/floripa.webp" class="card-img-top card" alt="...">
        <div class="card-body">
            <div class="card-text text-center my-2">
                <h5 class="text-center"><b>Florianópolis</b></h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Inclusos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ida e Volta</td>
                        </tr>
                        <tr>
                            <td>Hospedagem</td>
                        </tr>
                        <tr>
                            <td>Café da manhã</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-around m-2">
                <div>
                    <span class="d-block">Planos</span>
                    <span>a partir de</span>
                </div>
                <div class="d-flex contatos">
                    <span>R$</span>
                    <h3>512</h3>
                </div>
            </div>
            <div class="text-center"><a asp-area="" asp-controller="Clientes" asp-action="Create"
                    class="btn btn-success rounded-pill cleanRef">Escolher plano</a></div>
        </div>
    </div>
    </div>

    <div class="col-12 col-lg-3 cards">
    <!--Card7-->
    <div class="card shadow-card m-3 bg-white rounded" style="width: 20rem;">
        <img src="~/img/cristo-redentor.webp" class="card-img-top card" alt="...">
        <div class="card-body">
            <div class="card-text text-center my-2">
                <h5 class="text-center"><b>Rio de Janeiro</b></h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Inclusos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ida e Volta</td>
                        </tr>
                        <tr>
                            <td>Hospedagem</td>
                        </tr>
                        <tr>
                            <td>Café da manhã</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-around m-2">
                <div>
                    <span class="d-block">Planos</span>
                    <span>a partir de</span>
                </div>
                <div class="d-flex contatos">
                    <span>R$</span>
                    <h3>512</h3>
                </div>
            </div>
            <div class="text-center"><a asp-area="" asp-controller="Clientes" asp-action="Index"
                    class="btn btn-success rounded-pill cleanRef">Escolher plano</a></div>
        </div>
    </div>
    </div>

    <div class="col-12 col-lg-3 cards">
    <!--Card8-->
    <div class="card shadow-card m-3 bg-white rounded" style="width: 20rem;">
        <img src="~/img/floripa.webp" class="card-img-top card" alt="...">
        <div class="card-body">
            <div class="card-text text-center my-2">
                <h5 class="text-center"><b>Florianópolis</b></h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Inclusos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ida e Volta</td>
                        </tr>
                        <tr>
                            <td>Hospedagem</td>
                        </tr>
                        <tr>
                            <td>Café da manhã</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-around m-2">
                <div>
                    <span class="d-block">Planos</span>
                    <span>a partir de</span>
                </div>
                <div class="d-flex contatos">
                    <span>R$</span>
                    <h3>512</h3>
                </div>
            </div>
            <div class="text-center"><a asp-area="" asp-controller="Clientes" asp-action="Create"
                    class="btn btn-success rounded-pill cleanRef">Escolher plano</a></div>
        </div>
    </div>
    </div>

</div>


<!--São Paulo-->
<div style="text-align:center;">
    <h1>São Paulo</h1>
</div>

<div class="container cards flex-wrap">
    <!--Card1-->
    <div class="col-12 col-lg-3 cards">
    <div class="card shadow-card m-3 bg-white rounded" style="width: 20rem;">
        <img src="~/img/floripa.webp" class="card-img-top card" alt="...">
        <div class="card-body">
            <div class="card-text text-center my-2">
                <h5 class="text-center"><b>Florianópolis</b></h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Inclusos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ida e Volta</td>
                        </tr>
                        <tr>
                            <td>Hospedagem</td>
                        </tr>
                        <tr>
                            <td>Café da manhã</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-around m-2">
                <div>
                    <span class="d-block">Planos</span>
                    <span>a partir de</span>
                </div>
                <div class="d-flex contatos">
                    <span>R$</span>
                    <h3>512</h3>
                </div>
            </div>
            <div class="text-center"><a asp-area="" asp-controller="Clientes" asp-action="Create"
                    class="btn btn-success rounded-pill cleanRef">Escolher plano</a></div>
        </div>
    </div>
    </div>

    <div class="col-12 col-lg-3 cards">
    <!--Card2-->
    <div class="card shadow-card m-3 bg-white rounded" style="width: 20rem;">
        <img src="~/img/cristo-redentor.webp" class="card-img-top card" alt="...">
        <div class="card-body">
            <div class="card-text text-center my-2">
                <h5 class="text-center"><b>Rio de Janeiro</b></h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Inclusos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ida e Volta</td>
                        </tr>
                        <tr>
                            <td>Hospedagem</td>
                        </tr>
                        <tr>
                            <td>Café da manhã</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-around m-2">
                <div>
                    <span class="d-block">Planos</span>
                    <span>a partir de</span>
                </div>
                <div class="d-flex contatos">
                    <span>R$</span>
                    <h3>512</h3>
                </div>
            </div>
            <div class="text-center"><a asp-area="" asp-controller="Clientes" asp-action="Index"
                    class="btn btn-success rounded-pill cleanRef">Escolher plano</a></div>
        </div>
    </div>
    </div>

    <div class="col-12 col-lg-3 cards">
    <!--Card3-->
    <div class="card shadow-card m-3 bg-white rounded" style="width: 20rem;">
        <img src="~/img/floripa.webp" class="card-img-top card" alt="...">
        <div class="card-body">
            <div class="card-text text-center my-2">
                <h5 class="text-center"><b>Florianópolis</b></h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Inclusos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ida e Volta</td>
                        </tr>
                        <tr>
                            <td>Hospedagem</td>
                        </tr>
                        <tr>
                            <td>Café da manhã</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-around m-2">
                <div>
                    <span class="d-block">Planos</span>
                    <span>a partir de</span>
                </div>
                <div class="d-flex contatos">
                    <span>R$</span>
                    <h3>512</h3>
                </div>
            </div>
            <div class="text-center"><a asp-area="" asp-controller="Clientes" asp-action="Create"
                    class="btn btn-success rounded-pill cleanRef">Escolher plano</a></div>
        </div>
    </div>
    </div>

        <div class="col-12 col-lg-3 cards">
    <!--Card4-->
   <div class="card shadow-card m-3 bg-white rounded" style="width: 20rem;">
        <img src="~/img/cristo-redentor.webp" class="card-img-top card" alt="...">
        <div class="card-body">
            <div class="card-text text-center my-2">
                <h5 class="text-center"><b>Rio de Janeiro</b></h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Inclusos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ida e Volta</td>
                        </tr>
                        <tr>
                            <td>Hospedagem</td>
                        </tr>
                        <tr>
                            <td>Café da manhã</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-around m-2">
                <div>
                    <span class="d-block">Planos</span>
                    <span>a partir de</span>
                </div>
                <div class="d-flex contatos">
                    <span>R$</span>
                    <h3>512</h3>
                </div>
            </div>
            <div class="text-center"><a asp-area="" asp-controller="Clientes" asp-action="Create"
                    class="btn btn-success rounded-pill cleanRef">Escolher plano</a></div>
        </div>
    </div>
    </div>

    <div class="col-12 col-lg-3 cards">
    <!--Card5-->
    <div class="card shadow-card m-3 bg-white rounded" style="width: 20rem;">
        <img src="~/img/cristo-redentor.webp" class="card-img-top card" alt="...">
        <div class="card-body">
            <div class="card-text text-center my-2">
                <h5 class="text-center"><b>Rio de Janeiro</b></h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Inclusos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ida e Volta</td>
                        </tr>
                        <tr>
                            <td>Hospedagem</td>
                        </tr>
                        <tr>
                            <td>Café da manhã</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-around m-2">
                <div>
                    <span class="d-block">Planos</span>
                    <span>a partir de</span>
                </div>
                <div class="d-flex contatos">
                    <span>R$</span>
                    <h3>512</h3>
                </div>
            </div>
            <div class="text-center"><a asp-area="" asp-controller="Clientes" asp-action="Index"
                    class="btn btn-success rounded-pill cleanRef">Escolher plano</a></div>
        </div>
    </div>
    </div>

    <div class="col-12 col-lg-3 cards">
    <!--Card6-->
    <div class="card shadow-card m-3 bg-white rounded" style="width: 20rem;">
        <img src="~/img/floripa.webp" class="card-img-top card" alt="...">
        <div class="card-body">
            <div class="card-text text-center my-2">
                <h5 class="text-center"><b>Florianópolis</b></h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Inclusos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ida e Volta</td>
                        </tr>
                        <tr>
                            <td>Hospedagem</td>
                        </tr>
                        <tr>
                            <td>Café da manhã</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-around m-2">
                <div>
                    <span class="d-block">Planos</span>
                    <span>a partir de</span>
                </div>
                <div class="d-flex contatos">
                    <span>R$</span>
                    <h3>512</h3>
                </div>
            </div>
            <div class="text-center"><a asp-area="" asp-controller="Clientes" asp-action="Create"
                    class="btn btn-success rounded-pill cleanRef">Escolher plano</a></div>
        </div>
    </div>
    </div>

    <div class="col-12 col-lg-3 cards">
    <!--Card7-->
    <div class="card shadow-card m-3 bg-white rounded" style="width: 20rem;">
        <img src="~/img/cristo-redentor.webp" class="card-img-top card" alt="...">
        <div class="card-body">
            <div class="card-text text-center my-2">
                <h5 class="text-center"><b>Rio de Janeiro</b></h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Inclusos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ida e Volta</td>
                        </tr>
                        <tr>
                            <td>Hospedagem</td>
                        </tr>
                        <tr>
                            <td>Café da manhã</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-around m-2">
                <div>
                    <span class="d-block">Planos</span>
                    <span>a partir de</span>
                </div>
                <div class="d-flex contatos">
                    <span>R$</span>
                    <h3>512</h3>
                </div>
            </div>
            <div class="text-center"><a asp-area="" asp-controller="Clientes" asp-action="Index"
                    class="btn btn-success rounded-pill cleanRef">Escolher plano</a></div>
        </div>
    </div>
    </div>

    <div class="col-12 col-lg-3 cards">
    <!--Card8-->
    <div class="card shadow-card m-3 bg-white rounded" style="width: 20rem;">
        <img src="~/img/floripa.webp" class="card-img-top card" alt="...">
        <div class="card-body">
            <div class="card-text text-center my-2">
                <h5 class="text-center"><b>Florianópolis</b></h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Inclusos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ida e Volta</td>
                        </tr>
                        <tr>
                            <td>Hospedagem</td>
                        </tr>
                        <tr>
                            <td>Café da manhã</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-around m-2">
                <div>
                    <span class="d-block">Planos</span>
                    <span>a partir de</span>
                </div>
                <div class="d-flex contatos">
                    <span>R$</span>
                    <h3>512</h3>
                </div>
            </div>
            <div class="text-center"><a asp-area="" asp-controller="Clientes" asp-action="Create"
                    class="btn btn-success rounded-pill cleanRef">Escolher plano</a></div>
        </div>
    </div>
    </div>

</div>